:root {
	--white: #f8f8f2;
	--black: #282929;
	--gray: #3b3b3b;
	--primary: #0099ff;
	--secondary: #282a36;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-size: 16px;
    background-color: var(--white);
}

.header {
    background-color: var(--primary);
    padding: 2.5rem;
    margin-bottom: 2rem;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.logoIcon {
    width: 5rem;
}

.logoTitle {
    margin-left: 1rem;
    font-weight: bold;
}

.banner {
    margin-bottom: 1.5rem;
}

.bannerTitle {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

.footer {
    margin-top: 3.5rem;
    background-color:var(--secondary); 
    padding: 3rem;
}

.footerCopyright {
    color: var(--white);
    font-size: 2rem;
    text-align: center;
}
